<form role="search" method="get" class="searchform" action="{{ site.link }}">
  <fieldset class="searchform__container">
    <label for="searchform__field" class="searchform__container__label">
      Search
    </label>
    <input type="search" class="searchform__field" id="searchform__field" placeholder="Search site" value="" name="s">
    <button type="submit" class="searchform__field__submit">
      Search
    </button>
  </fieldset>
</form>